@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Plus Jakarta Sans", sans-serif;
  --color-primary: #116364;
  --color-background-dark: #1A1F1D;
}

@layer base {
  body {
    @apply bg-background-dark font-display;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
